<div class=" container">

  <div>
      <div class="main">
          <div class="form-group has-search">
              <input type="text"  [(ngModel)]="queryString" class="form-control" placeholder="Search">
            </div>          
        </div>
  <table class="table table-striped z-depth-1 table-bordered" id="tableSortExample" mdbTable >
    <thead  style=" background-color: deepskyblue;  color: white;" >
    <tr>
      <th *ngFor="let head of headElements; let i = index" >{{head | titlecase}}
        <!-- <mdb-icon fas icon="sort"></mdb-icon> -->
      </th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let user of users|filter: queryString : 'name'  | paginate: config"   [routerLink]="['/list/',user.id]">
      <td >{{user.id}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.company_name}}</td>
      <td>{{user.city}}</td>
      <td>{{user.state}}</td>
      <td>{{user.zip}}</td>
      <td>{{user.email}}</td>
      <td>{{user.web}}</td>
      <td>{{user.age}}</td>
      
    </tr>
    </tbody>
  </table>

    
    <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
 

</div>